<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
    <head>
        <title>Offer table</title>
    </head>
    <body>
        <wicket:panel>
            <form class="form-horizontal" wicket:id="dialogForm">
                <div wicket:id="toolbar">[toolbar]</div>
                <table wicket:id="datatable" class="border">[Offer table]</table>
                <div wicket:id="repeater"></div>
                <div class="buttons">
                    <input wicket:id="actionButton" type="button" value="Save"/>
                    <input wicket:id="cancelButton" type="button" value="Cancel"/>
                </div>
            </form>
        </wicket:panel>
    </body>
</html>
