<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <title>Action</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<wicket:panel>
    <div class="controls toolbar">
<input wicket:id="searching" type="text" class="search-query span2 searchingWithEnter" />
<script type="text/javascript">
$('.searchingWithEnter').keypress(function(event){
if ((event.keyCode ? event.keyCode : event.which)===13){
    event.preventDefault();
    $(".btn-primary.btn-offer").click();
}
});
</script>

    </div>
</wicket:panel>
</body>
</html>
