body {
    font-family: "Titillium Web","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/** Table */
tr.odd {
    background-color: #eeeeee;
}

tr.selected {
    background-color: #e7cfcf;
}

td.actionColumn a {
    margin-right: 5px;
}

table td, table th {
    padding: 1px 4px;
}

th {
    background-color: #e6f2f9;
    text-align: left;
}

th.sorted {
    background-color: #add2d2;
}

table.border {
    border: 1px none #eeeeee;
}

table.border th,
table.border td {
    border-bottom: 1px solid #eeeeee;
    border-right : 1px solid #eeeeee;
}

div.w_content table.border {
    width: 99%;
}

table.datatable {
    width: 100%;
}

/* Form labels */
.form-horizontal .control-label {
    width: 90px;
}
.form-horizontal .controls {
    margin-left: 100px;
}

div.wicket-modal div.w_content {
    background-color: #F5F5F5;
    padding-top: 4px;
}

.w_content textarea {
    /* width: 95%; */
}

form span.help-inline, form div.help-inline {
    color: #DD5600;
}
form div.buttons {
    margin: 15px 0 0 100px;
}

/* Wicket TABS */
div.tabpanel .tab-row {
    background-color: #eeeeee;
    margin-top: 20px;
}

div.tabpanel .tab-row ul {
    list-style: none outside none;
    margin: 0;
    padding: 5px 0px 0;
}

div.tabpanel .tab-row li {
    float: left;
    margin: 0px;
    padding: 0px 10px 0px 10px;
}

div.tabpanel .tab-row li.selected {
    background-color: #eeeeee;
}

div.tabpanel div.tab-panel {
    clear: both;
}

div.tabpanel .tab-row a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

div.tabpanel .tab-row li.disabled a {
    color: gray;
    font-style: italic;
    cursor: no-drop;
    outline: 0; /* Removing focus outline */
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -Xms-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
}

/* Table Navigator */
div.navigator {
    text-align: right;
}
div.navigatorLabel {
    float: left;
}

table.border tr.navigation td {
    border-right: none;
}

.form-horizontal .controls.toolbar {
    margin-left: 7px;
}

/* Table Sorting */
table th {
    color: #2FA4E7;
}

table th.wicket_orderDown a {
    background-image: url("../images/orderDown.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 14px;
}

table th.wicket_orderUp a {
    background-image: url("../images/orderUp.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 14px;
}

table tr th.wicket_orderNone a {
    background-image: url("../images/orderOff.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 14px;
}

/* Sell items */
td.logical {
    text-align: center;
}

td.logical.ok {
    color: rgba(0, 0, 0, 0);
    background-image: url("../images/icons/tick.png");
    background-repeat: no-repeat;
    background-position: center;
}

th.number {
    text-align: right;
}

td.number {
    text-align: right;
    white-space: nowrap;
}

input, textarea, .uneditable-input {
    width: 260px;
}

div .inputOffer input {
    width: 238px;
    background: url(../images/icons/application_form_magnify.png) no-repeat scroll 97% center;
    padding-right: 27px;
    cursor: pointer;
    background-color: white;
}

select.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

form {
    margin: 0;
}

.form-horizontal .control-group {
    margin-bottom: 3px;
}

/* Dialog title */
div.wicket-modal h3 {
    font-size: 18px;
    line-height: 18px;
}
div.wicket-modal div.w_caption {
    background-color: #d0dae1;
}
div.wicket-modal div.w_content_3 {
    border: 1px #eeeeee solid;
}

.alert-text {
    padding: 20px 22px 30px;
}

.absolute-alert {
    position: absolute;
    width: 90%;
}

.hidden {
    display: none;
}
