/** The CSS for the WelcomeForm servlet */

body {
    padding: 5px 15px;
    font-family: "DejaVu Sans", verdana, arial, sans-serif;
    background-color: #f3f6f7;
}
h1 {
    color:SteelBlue;
}
td:first-child {
    text-align: right;
    vertical-align:top;
    padding-top: 6px;
}
input {
    line-height: 25px;
}
input[type="text"] {
    width: 300px;
    margin: 0px;
    padding: 2px 4px;
    margin: 0px;
    border: 1px solid gray;
}
input[type="submit"] {
    padding: 8px 15px;
    margin-top: 8px;
}
.error {
    color: #b06464;
    font-style: italic;
    margin-bottom: 4px;
}
.footer {
    margin-top: 25px;
    margin-left: 7px;
    font-style: italic;
    color: gray;
}