/* Style Sheet for PEKI dictionary documentation. */

body	{
	margin: 15pt 60pt 10pt;
        /*color: #E6E6FA; */
	/*background-color: white;*/
	/* background-image: url('general/bg.jpg'); */
}

p	{margin: 10pt 0pt 30pt;}
.p	{margin: 10pt 0pt 30pt; border: 0pt; padding: 0pt; }	/* Paragraph*/
.e	{margin: 0pt; border: 0pt; padding: 0pt; }		/* Empty */


a	 {color: #4947a4;}
a:active {color: #4947a4;}
/* a:hover  {color: #8AAAAA;} */
/*a:visited{color: #E6E6FA;}*/


h1 {color: #4947a4; text-align: center;}
h2 {color: #4947a4; font-style: italic; border: 10}
h3 {color: #4947a4;} /* uppercase doesn't work in Java HTML viewer: text-transform: uppercase */


#xmenu {
	width: 168px;
	float: left;
	margin: 0;
	border: 0px #404048 solid;
	padding: 0;
}

#menu {

	margin: 10pt 4% 40pt 0;
	border: 2px #c2cde1 solid;
	padding: 0 5pt 5pt;
	/* background: #303038; */
}

#main {
	width: 74%;
	float: left;
	padding: 0; 
	margin: 0;
}

.chapter  {
	margin: 20pt 10pt 40pt; 
	text-align: left;
}

.chapter2 {
	margin: 10pt 0pt 0pt 0pt; 
}

.blok {margin: 10pt 10pt 10pt 20pt;}

.key   {color: #4947a4; font-weight: bold; font-style: italic;}
.label {color: #4947a4; font-weight: bold; font-size:  large;}
.appl  {color: #4947a4; font-weight: bold;}
.storno {text-decoration: line-through;}
.prologue {
	text-align: left;
	margin: 10pt 30pt 50pt 70pt;
	font-style: italic;
}


ol.list, ul.list {
	margin-left: 15pt;
	padding-left: 10pt;
}	

td ul { margin-left: 0pt;
	padding-left: 10pt;
}

.ulm { margin-left: 10pt;
       padding-left: 10pt;
}

.ulm li a, .ulm li a:visited {
       text-decoration:none;
       /*color: white;*/
       /*Xfont-weight: bold;*/
}	

.ulm li a:hover {
       text-decoration: underline;
       /*Xfont-weight: bold;*/
       /*Xcolor: white;*/
}	

/* Table Header */
.tabHead {
	/*background-color: #010758;*/
	text-align: left;
	font-weight: bold;
}

.mailB {
	width: 129px; 
	height: 15px; 
	vertical-align: bottom; 
	margin: 1px;	
}

/* Signature */
.PPonec, .ppONEC {
	color: #4947a4;
	font-weight: bold;
	font-size: 12pt;
}	
.ppONEC	{ font-size: 13pt; }	


/* ------ CODE SAMPLE --------- */

.pre { 
	margin: 20px; 
	border: 1px blue solid; 
	padding: 5px; 
	background-color: #f6f7f9; 
	overflow: auto;
        
        -moz-border-radius-bottomleft:7px;
        -moz-border-radius-bottomright:7px;
        -moz-border-radius-topleft:7px;
        -moz-border-radius-topright:7px;
        
}
.java-block-comment {color: #737373}
.java-string-literal {color: #99006b}
.java-layer-method {font-family: Monospaced; font-weight: bold}
.java-keywords {color: #000099; font-family: Monospaced; font-weight: bold}
.java-annotation {color: #32ae07;}

.xml-attribute {color: #007c00}
.xml-pi-start {color: #00007c; font-family: Monospaced; font-weight: bold;}
.xml-tag {color: #0000ff}
.xml-value {color: #99006b}
.xml-pi-content {color: #00007c}

.apache {
	border: 2px solid #BBBBBB;
	margin: 0em 1px;
	padding: 0em 1px;
	white-space: pre;
	overflow: auto;
}
.highlight {
   background-color: #fffe80;
}

.ulm li.bold a {
    text-decoration: none;
    color: silver;
}


/* eof */