<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Insert Action</title>
    </head>
    <body>
        <wicket:panel>
            <tr>
                <td wicket:id="space">&nbsp;</td>
                <td class="actions bottomToolbar">
                    <a wicket:id="insert" href="#"><span wicket:id="label">Insert</span></a>
                </td>
            </tr>
        </wicket:panel>
    </body>
</html>
