<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:wicket="http://wicket.sourceforge.net/"
    xml:lang="cs"
    lang="cs">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Title</title>
        <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
    </head>
    <body>
        <wicket:panel>
            <form class="form-horizontal" wicket:id="dialogForm">
                <div wicket:id="repeater">Message</div>
                <div class="buttons">
                    <input wicket:id="saveButton" type="button" value="Save"/>
                    <input wicket:id="cancelButton" type="button" value="Cancel"/>
                </div>
            </form>
        </wicket:panel>
    </body>
</html>
