/* Tabs component */
div.tab-panel {
    margin: 40px 5px 5px;
    padding: 5px;
}

div.tabpanel div.tab-row li a {
    background-position: 7px 1px;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-right: 9px;
}

div.tabpanel div.tab-row li a.hotel {
    background-image: url("images/icons/house.png");
}

div.tabpanel div.tab-row li a.booking {
    background-image: url("images/icons/book_open.png");
}

div.tabpanel div.tab-row li a.customer {
    background-image: url("images/icons/user.png");
}

div.tabpanel div.tab-row li a.about {
    background-image: url("images/icons/help.png");
}

/* A fix width of hotel table:
div.hotel table.border {
    width: 780px;
}
div.hotel table.border tr div.hotel div {
    white-space: nowrap;
}
*/

/* Prologue */
div.prologue {
    color: silver;
    font-style: italic;
}

/* Prologue */
div.prologue a {
    text-decoration: none;
    color: silver;
}

div.chapter-about {
    margin: 2px 0 10px 0px;
    width: 600px;
}

h1, h2, h3, h4 {
    font-family: inherit;
}

h1 {
    text-shadow: 4px 4px 4px #aaa;
    margin-left: 30px;
}

/* About Panel*/
div.about h1,
div.about h2,
div.about h3,
div.about h4 {
    margin: 25px 0 0 10px;
}

div.about h2 {
    font-size: 24.5px;
}

div.about h3 {
    font-size: 17.5px;
    line-height: 20px;
}

div.about h4 {
    font-size: 17.5px;
    line-height: 20px;
}

div.home {
    margin-left: 10px;
}

hr {
    margin-top: 20px;
}

.toolbar {
    margin-bottom: 3px;
}

div.footer {
    color: gray;
    border-top: thick solid buttonface;
    margin-top: 100px;
    padding: 10px 20px 15px;
    font-size: 11px;
    background-color: #f7f7f7;
}

div.footer a {
    text-decoration: none;
    xxxcolor: gray;
}
