.north {
    text-align: center;
}

.west {
    float: left;
    padding: 0px 10px 0px 0px;
    width: 140px;
}

.center {
    top: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

.east {
    float: right;
    padding: 0px 0px 0px 10px;
    width: 140px;
}

.south {
    padding-top: 10px;
    text-align: center;
    clear: both;
}

/* --- Customization --- */

.east .input input {
    width: 100%;
}

.right {
    text-align: right;
    white-space: nowrap;
}

table td {
    padding: 2px;
}

table td {
    padding: 1px 4px;
}

/* -------------------------------- */

h1, h2, h3, h4, a img, table, td, th {
    padding: 0;
    margin: 0;
    border: 0;
    text-indent: 0;
}

h1, h2 {
    color: #4e4ec9;
}

body {
    font-family: Arial, Verdana, sans-serif;
    padding: 2px 8px;
}

table {
    border: 1px lightgray solid ;
}
th, td {
    border-right: 1px lightgray solid ;
    border-bottom: 1px lightgray solid ;
}th, td {
    padding: 2px 5px;
}
th {
    background-color: #def8f8;
    text-align: left;
}

th.sorted {
    background-color: #add2d2;
}

table.border {
    border: 1px solid silver;
}
table.border th,
table.border td {
    border-bottom: 1px solid silver;
    border-right : 1px solid silver;
}
hr {
    margin-top: 20px;
}

table.datatable {
    width: 100%;
}

/** Header */
div.prologue {
    font-style: italic;
    color: gray;
}

/** Wicket TABS */
div.tabpanel div.tab-row {
    background-color: buttonface;
    margin-top: 20px;
}

div.tabpanel div.tab-row ul {
    list-style: none outside none;
    margin: 0;
    padding: 5px 0px 0;
}

div.tabpanel div.tab-row li {
    float: left;
    margin: 0px;
    padding: 0px 10px 0px 10px;
}

div.tabpanel div.tab-row li.selected {
    background-color: buttonface;
}

div.tabpanel div.tab-panel {
    clear: both;
}

div.tabpanel div.tab-row a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}