body {
    font-family: "Titillium Web","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/** Table */
table tr.odd {
    background-color: buttonface;
}

table td, table th {
    padding: 1px 4px;
}

th {
    background-color: #e6f2f9;
    text-align: left;
}

th.sorted {
    background-color: #add2d2;
}

table.border {
    border: 1px none buttonface;
}

table.border th,
table.border td {
    border-bottom: 1px solid buttonface;
    border-right : 1px solid buttonface;
}

table.datatable {
    width: 100%;
}

/* Form labels */
.form-horizontal .control-label {
    width: 90px;
}
.form-horizontal .controls {
    margin-left: 100px;
}

div.wicket-modal div.w_content {
    background-color: #F5F5F5;
    padding-top: 4px;
}

form span.help-inline {
    color: #DD5600;
}
form div.buttons {
    margin: 15px 0 0 100px;
}

/* Wicket TABS */
div.tabpanel div.tab-row {
    background-color: buttonface;
    margin-top: 20px;
}

div.tabpanel div.tab-row ul {
    list-style: none outside none;
    margin: 0;
    padding: 5px 0px 0;
}

div.tabpanel div.tab-row li {
    float: left;
    margin: 0px;
    padding: 0px 10px 0px 10px;
}

div.tabpanel div.tab-row li.selected {
    background-color: buttonface;
}

div.tabpanel div.tab-panel {
    clear: both;
}

div.tabpanel div.tab-row a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

/* Table Navigator */
div.navigator {
    text-align: left;
}

div.navigatorLabel {
    float: right;
}

table.border tr.navigation td {
    border-right: none;
}

/* Table Sorting */
table th {
    color: #2FA4E7;
}

table th.wicket_orderDown a {
    background-image: url("images/orderDown.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 14px;
}

table th.wicket_orderUp a {
    background-image: url("images/orderUp.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 14px;
}

table tr th.wicket_orderNone a {
    background-image: url("images/orderOff.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 14px;
}

/* Sell items */
td.logical {
    text-align: center;
}

td.logical .ok {
    color: rgba(0, 0, 0, 0);
    background-image: url("images/icons/tick.png");
    background-repeat: no-repeat;
    background-position: center;
}

td.number {
    text-align: right;
    white-space: nowrap;
}

input, textarea, .uneditable-input {
    width: 260px;
}

form {
    margin: 0;
}

.form-horizontal .control-group {
    margin-bottom: 3px;
}

/* Dialog title */
div.wicket-modal h3 {
    font-size: 18px;
    line-height: 18px;
}
div.wicket-modal div.w_caption {
    background-color: #d0dae1;
}
div.wicket-modal div.w_content_3 {
    border: 1px buttonface solid;
}

.alert-text {
    padding: 20px 22px 30px;
}
