<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/" xml:lang="cs" lang="cs">
    <head>
        <title>TableCellLink</title>
    </head>
    <body>
        <wicket:panel>
            <a class="link" href="#" wicket:id="link">
                <span wicket:id="linkLabel">Link label</span>
            </a>
        </wicket:panel>
    </body>
</html>