/** The CSS for the Boead servlet */

h1 {
    color:SteelBlue;
}

body {
    padding: 5px 15px;
    font-family: "DejaVu Sans", verdana, arial, sans-serif;
    background-color: #f3f6f7;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.error {
    color: #b06464;
    font-style: italic;
    margin-bottom: 4px;
}

.footer {
    margin-top: 25px;
    margin-left: 7px;
    font-style: italic;
    color: gray;
}

form {
    width: 450px;
}

span {
    color: #b06464;
    font-style: italic;
    display: block;
    margin-bottom: 3px;
}

/** The CSS based on the Bootstrap framework (https://getbootstrap.com/docs/4.1/components/forms/?gridRadios=option2#horizontal-form) */

form > div {
    display: flex;
    flex-wrap: nowrap; /*!!!*/
    
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    
    margin-top: 0px;
}

label {
    text-align: right;

    display: block;
    box-sizing: border-box;

    line-height: 1.5;

    flex: 0 0 15%;
    max-width: 15%;
    min-width: 150px;

    position: relative;
    width: 10px;
    min-height: 1px;
    
    padding: .600rem .75rem;
}

label::after {
    content: ":";
}

div.submit label {
    color: transparent;
}

/** An input box */
form > div > div {
    padding: 3px;
    width: 100%;
}

input[type=text] {
    line-height: 1.5;
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 1.8rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type=submit] {
    cursor: pointer;
    margin-top: 20px;
    min-width: 100px;

    text-align: center;
    outline: 0;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;

    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: none;
}
