/* Style Sheet for PEKI dictionary documentation. */

body {color: #000000; background-color: #ffffff; font-family: Monospaced}
table {color: #000000; background-color: #e9e8e2; font-family: Monospaced}
.comment {color: #969696}
.ST0 {color: #ce7b00; font-family: Monospaced; font-weight: bold}
.character {color: #ce7b00}
.keyword-directive {color: #0000e6}

/* eof */