/* The CSS based on the Bootstrap framework: 
 * https://getbootstrap.com/docs/4.1/components/forms/?gridRadios=option2#horizontal-form
 */

div.tabpanel .tab-row li a {
    background-position: 7px 13px;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-right: 12px;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.tab-row ul {
    padding-left: 4px;
    margin-bottom: 0;
    list-style: none;
}

.tab-row > ul > li {
    display: inline-block;
    padding-left: 3px;
}

.tab-row > ul > li.selected > a, .tab-row > ul > li.selected > a:hover, .tab-row > ul > li.selected > a:focus {
    color: #fff;
    background-color: #428bca;
}

.tab-row > ul > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;

    color: #428bca;
    text-decoration: none;
    background: 0 0;
    background-color: rgba(0, 0, 0, 0);

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tab-row > ul > li > a:hover, 
.tab-row > ul > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
